.profile-center{
    display: flex;
    min-width: 312px;
    gap: 24px;
    padding: 24px;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.profile-text{
    display: flex;
    min-width: 230px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.profile-text .username{
    font-size: 24px;
    font-weight: 700;
}

.profile-button{
    display: flex;
    gap: 15px;
}

.users-docs{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 30px;
}

.doc-text{
    width: 90vw;
    font-size: 30px;
    font-weight: 700;
}