.search{
    display: flex;
    height: 100%;
    padding-top: 20vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: #F5F5F5;
}

.center-text{
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}

.top-text{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    margin-top: 20px;
}


.doc-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 25px;
    justify-items: center;
    max-width: 50vw;
    flex-direction: row;
    background: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    outline: 1px solid #D9D9D9;
    flex-wrap: wrap;
    align-content: flex-start;
}
