.about-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    padding: 40px;
}

.about-content{
    display: flex;
    text-align: center;
    min-height: 50vh;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}