.mainAll{
    display: flex;
    flex: 1 0;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
}

.text{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding: 20px;
    margin: 0;
}

.allCenter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* ширина карточки */
    gap: 25px;
    padding: 25px;
    justify-items: center;
    height: 70vh;
    width: 80vw;
    flex-direction: row;
    background: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    outline: 1px solid #D9D9D9;
    flex-wrap: wrap;
    align-content: flex-start;
}

